/* BUTTONS
*****************************************/
.el-button {
  transition: box-shadow 250ms ease, border-color 250ms ease;
  background-color: var(--button-background-color-default);
  color: var(--button-text-color-default);
  font-weight: 500;
  font-family: var(--font-family-default);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
              rgba(0, 0, 0, 0) 0px 0px 0px 0px,
              rgba(0, 0, 0, 0.12) 0px 1px 1px 0px,
              var(--button-box-shadow-color-default) 0px 0px 0px 1px,
              rgba(0, 0, 0, 0) 0px 0px 0px 0px,
              rgba(0, 0, 0, 0) 0px 0px 0px 0px,
              #00000026 0px 2px 5px 0px;
      
  
  &.is-active,
  &:active {
    outline: 0;
    background-color: var(--button-background-color-focus);
    color: var(--button-text-color-focus);
    border-color: var(--button-box-shadow-color-focus);
    box-shadow: 0 0 0 1px #d8d8d880 !important;
  }
  
  &:focus,
  &.is-focus,
  &:hover,
  &.is-hover {
    background-color: var(--button-background-color-focus);
    color: var(--button-text-color-focus);
    border-color: var(--button-box-shadow-color-focus);
    box-shadow: 0 0 0 2px var(--button-box-shadow-color-focus);
  }

  &--primary {
    background-color: var(--button-background-color-accent);
    color: var(--button-text-color-accent);
    border-color: var(--button-box-shadow-color-accent);
    // box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    //             rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    //             rgba(0, 0, 0, 0.12) 0px 1px 1px 0px,
    //             var(--button-box-shadow-color-accent) 0px 0px 0px 1px,
    //             rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    //             rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    //             #00000026 0px 2px 5px 0px;

    &.is-active,
    &:active,
    &.is-hover,
    &:hover,
    &.is-focus,
    &:focus {
      background-color: var(--button-background-color-accent-focus);
      color: var(--button-text-color-accent-focus);
      border-color: var(--button-box-shadow-color-accent-focus);
      box-shadow: 0 0 0 3px var(--button-box-shadow-color-accent-focus);
    }
    
  }

  &--danger {
    background-color: var(--button-background-color-danger);
    color: var(--button-text-color-danger);
    border-color: var(--button-box-shadow-color-danger);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                rgba(0, 0, 0, 0.12) 0px 1px 1px 0px,
                var(--button-box-shadow-color-danger) 0px 0px 0px 1px,
                rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                #00000026 0px 2px 5px 0px;

    &.is-active,
    &:active,
    &.is-hover,
    &:hover,
    &.is-focus,
    &:focus {
      background-color: var(--button-background-color-danger-focus);
      color: var(--button-text-color-danger-focus);
      border-color: var(--button-box-shadow-color-danger-focus);
      box-shadow: 0 0 0 3px var(--button-box-shadow-color-danger-focus);
    }
  }

  &.is-disabled {
    color: var(--button-text-color-disabled) !important;
    border-color: var(--button-border-color-disabled) !important;
    background-color: var(--button-background-color-disabled) !important;
    box-shadow: none !important;
    opacity: 0.5;
    &:active {
      box-shadow: none !important;
    }
  }
}