/* CHARTS
*****************************************/
.chart-controls {
  display: flex;
  gap: 10px;
  &__label {
    font-weight: 700;
    font-size: 12px;
  }
}

.chart-legend {
  $legend-size: 8px;
  display: flex;
  gap: 4px 16px;
  justify-content: flex-end;
  align-items: center;
  min-height: 21px;
  margin: 0 15px;
  font-size: 14px;
  flex-wrap: wrap;
  &-dot {
    display: inline-block;
    width: $legend-size;
    height: $legend-size;
    border-radius: 100%;
    background-color: grey;
    margin-right: 4px;
  }
  &-label {
    line-height: $legend-size;;
  }
}

.chart-info {
  margin-bottom: 10px;
}

.chart-notes {
  margin: 0;
}