/* MAIN
*****************************************/
body {
  font-family: 'Source Sans Pro', serif;
  color: var(--text-color-default);
}

a {
  color: var(--primary-color-strong);
  text-decoration: none;
}

.main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 20px 40px;
  h1 {
    line-height: 1.2;
  }
  h2 {
    margin-top: 40px;
  }
  h3 {
    margin-top: 20px;
  }
  ul {
    margin-top: 0;
    padding-left: 17px;
  }
  &--text {
    max-width: 700px;
    width: 100%;
  }
  &--data {
    max-width: 1200px;
    width: 100%;
  }
}

@media screen and (min-width: 920px) {
  .main {
    h1 {
      margin-top: 30px;
    }
    h2 {
      margin-top: 80px;
    }
  }
}
